body {
    font-family: Arial, sans-serif;
}

h1 {
    margin: 20px 0;
}

.card {
    margin-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
}

.logo {
    width: 50px;
}

/* Customize the card style */
.user-card img {
    border-radius: 50%;
    object-fit: cover;
    height: 150px;
    width: 150px;
    margin: auto;
}
